%% -*- erlang -*-
{erl_opts, [fail_on_warning,
            debug_info]}.
{deps,
 [{meck, ".*",
   {git, "git://github.com/esl/meck.git", "master"}},
  {proper, ".*",
   {git, "git://github.com/manopapad/proper", "master"}}]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
